
body{
	background-color: #b62e2e;
}

.nav{
	width: 980px;
	margin: 100px auto;
	list-style: none;
	position: relative;
}
.nav li{
	height: 232px;
	width: 232px;
	margin: 25px;
	float: left;
	overflow: hidden;
	border-radius: 50%;
	border:6px solid #fff;
	box-shadow: 2px 2px 0 0 rgba(0,0,0,.5);
	margin: 12px;
	transition:all 1s ease;
}

.nav li a{
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}
.nav li a:before{
	content: attr(title);       
	position: relative;       
	left: 100px;
	top: 240px;
	transition:all 1s ease;
}
.nav li:hover{
	border:6px solid #333;
	box-shadow: 0px 0px 20px 0 rgba(255,255,255,.5);
}

.nav li:hover a:before{
	top: 160px;
}