body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(image/banner-bg.jpg);
}


header img {
    margin: 15px 0;
    margin-left: 60px;
}


header ul {
    float: right;
    margin-top: 25px;
    list-style: none;
}

header .a {
    float: right;
    margin-top: 35px;
}

header ul li {
    float: left;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border: transparent;
    letter-spacing: 0.25px;
    padding: 10px 17px;
    margin: 0 15px 0 0;

}

.header {
    width: 100%;
    text-align: center;
}

.container {
    max-width: 1140px;
    padding: 0px 10px;
    margin: auto;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



.topnav .icon {
    display: none;
}




@media screen and (max-width: 800px){

}






















@media screen and (max-width: 800px) {
    .topnav .menu a {
        display: block;
        color: #555;
        border-bottom: 1px solid #ccc;
    }


    .topnav {
        position: relative;
    }

    .topnav .menu {
        position: absolute;
        right: 0;
        top: 85px;
        width: 100%;
        background: #fff;
    }

    .topnav a.icon {
        float: right;
        display: block;
        margin-top: 20px;
        font-size: 25px;
    }
} 